<div class="mt-4 fs-5">
  <div class="border-start border-5">
    <div class="ms-3 py-1">
      <p><%= @answer %></p>
      <p class="fst-italic">–You<p>
    </div>
  </div>

  <div class="border-start border-5 bg-warning bg-opacity-10">
    <div class="ms-3 my-4 py-1">
      <p class="fw-bold"><%= @coach_answer %></p>
      <p class="fst-italic">–Your coach<p>
    </div>
  </div>
</div>

<%= link_to "Ask a new question", ask_path, class:"text-decoration-none" %>
