
<p><%= @answer %></p>
<p>- you</p>

<% if @answer.include?("I am going to work")%>
  <p>Great!</p>
<% elsif @answer.include?("?")%>
  <p>Silly question, get dressed and go to work!</p>
<% else %>
  <p>I don't care, get dressed and go to work!</p>
<%end%>
<p>-Your coach</p>
<a href="/ask">Ask a new question</a>
