<div class="mt-4">
  <p>Ask your coach anything:</p>

  <div>
    <form action="answer" data-turbo="false" class="input-group input-group-lg mb-3">
      <input type="text" name="question" class="form-control">
      <input type="submit" value="Ask" class="btn btn-primary input-group-text">
    </form>
  </div>
</div>
